asgiref==3.9.1
dj-database-url==3.0.1
Django==4.2.24
django-heroku==0.3.1
gunicorn>=23
psycopg2==2.9.10
sqlparse==0.5.0
typing_extensions==4.12.2
whitenoise==6.10.0
channels==4.3.1
channels-redis>=4.1.0
redis>=5.0.0
daphne==4.2.1
qrcode[pil]==8.2